@model IEnumerable<AchatArticles.Models.Panier>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*       @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Articles)
                </td>
            </tr>
        } *@
    </tbody>
</table>
<p>
    <a asp-controller="Article" asp-action="Index">Retour</a>
</p>
 